%h1 Meus Produtos

= form_tag atualizar_quantidades_itens_url, :method => :put do
  %table.zebra-striped#pedido
    %thead
      %tr
        %th Nome
        %th Quantidade
        %th Preço Unitário
        %th Preço Total
    %tbody
      - pedido_atual.itens.each do |item|
        = render 'item', :item => item

    %tfoot
      %tr
        %td{ :colspan => 2 }
        %td Preço Total
        %td= number_to_currency pedido_atual.preco_total