%h1 Lista de categorias

%p= link_to 'Nova categoria', new_admin_categoria_url

= will_paginate @categorias

%table
  %thead
    %tr
      %td Nome
  %tbody
    - @categorias.each do |categoria|
      %tr
        %td= link_to categoria.nome, edit_admin_categoria_url(categoria)

= will_paginate @categorias